@import "tailwindcss";

@theme {
    --color-page: #111113;
    --color-card: #18181c;
    --color-accent-purple: #7c6dfa;
    --color-accent-blue: #5b8df5;
    --color-accent-light: #a89dff;
    --color-accent-dim: #e0deff;
    --color-accent-fg: #f0eeff;

    --color-border-subtle: rgba(255,255,255,0.12);
    --color-border-faint: rgba(255,255,255,0.08);
    --color-border-accent: rgba(124,109,250,0.25);
}